<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">
  <script src="{% static 'js/jquery.min.js' %} "></script>
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
	<link rel="stylesheet" href="{% static 'assets/demo.css'%}">
	<link rel="stylesheet" href="{% static 'assets/form-login.css' %}">
    <meta charset="UTF-8">
    <style>
        #id{
            height: inherit;
        }
    </style>

</head>
<body>
<div class="row" id="id">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" style="color: black;">
  <div style="background-color: #e6e6e6">
        <h1>  <button type="button" class="btn  btn-inherit disabled" onclick="" ></button>
          <button type="button" class="btn  btn-info" onclick="fn('/logout')" style="color: white;float: right;">Logout</button>
          <center>        <img src="{% static 'images/printer.gif' %}" style="
          width: 5%;height: 5%;color: black;"/> Printf() </h1> </center>
      </div>
      <h3>Select the merchant :</h3>
       <table class="table table-striped table-hover" style="color: black" >
        <thead>
        <tr>

            <th>Name</th>
            <th>Location</th>
            <th>Cost</th>
        </tr>
        </thead>
       <tbody>
        <tr>
            {% for merchant in allmerchants%}
            <tr onclick="fn({{ merchant.id }})">
                <td>{{ merchant.name }}</td>
                <td>{{ merchant.location }}</td>
                <td>{{ merchant.cost }} </td>
            </tr>
            {% endfor %}

        </tr>
        </tbody>
       </table>
  </div>
    <div class="col-sm-2"></div>
</div>

</body>
<script>

    function  fn(merchant_id) {
        //alert(order_id);
        window.location = "/printf/createOrder/"+merchant_id;
    }
</script>

</html>